.users_table_div{
    position: relative;
    top: 60px;
    right: -150px;
}
.users_table_div .users_table{
    background: gray;
    border: 3px;
}

.users_table_div .users_table .users_th{
    padding: 30px;
}

.users_table_div .users_table .users_data_tr{
    text-align: center;
}

.food_menu_div{
    position: relative;
    top: 60px;
    left: 10px;
}
.food_menu_div label{
    width: 120px;
}
.food_menu_div .food_menu_input{
    color: blue;
    width: 20rem;
}
.food_menu_div .button{
    margin: 10px 0 10px 60px;
    width: 20rem;
}
.food_menu_table{
    background: gray;
}
.food_menu_table .food_menu_table_th{
    padding: 30px;
}
.food_menu_table .food_menu_table_tr{
    text-align: center;
}
.food_menu_img{
    height: 200px;
    width: 200px;
}

.reservation_div{
    position: relative;
    top: 70px;
    right: -150px;
}
.reservation_div .reservation_table{
    background-color: gray;
    border: 1px;
    width: 40rem;
}
.reservation_div .reservation_table .reservation_table_th{
    padding: 30px;
}



