.users_table_div{
    position: relative;
    top: 60px;
    right: -150px;
}
.users_table_div .users_table{
    background: gray;
    border: 3px;
}

.users_table_div .users_table .users_th{
    padding: 30px;
}

.users_table_div .users_table .users_data_tr{
    text-align: center;
}

.food_menu_div{
    position: relative;
    top: 60px;
    right: -60px;
}
.food_menu_div .food_menu_input{
    color: blue;
}
.food_menu_table{
    background: black;
}
.food_menu_table .food_menu_table_th{
    padding: 30px;
}
.food_menu_table .food_menu_table_tr{
    text-align: center;
}
.food_menu_img{
    height: 200px;
    width: 200px;
}
